body {
    font-family: sans-serif;
}

nav{
    text-align: center;
    
}

a {
    margin: 50px;
    color:black;
    text-decoration: none;
    border-bottom: 4px solid black;
}

main img {
    border-left: 10px dotted black;
    margin: 50px;
}

h1 {
    text-align: center;
}

main p {
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}

footer {
    background-color: black;
    padding: 2px;
}

footer p {
    background-color: white;
    margin-left: 2px;
     margin-right: 2px;
}
